@import "../vendor/mixins.scss";

.header {
    padding: rem(50) 0;
    @include adp('padding-top', 50, 15);
    @include adp('padding-bottom', 50, 15)
}
.container_header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header__logo {
    max-width: rem(110);

    img {
        object-fit: contain;
        max-width: 100%;
        width: 100%;
        cursor: pointer;
    }
}
.header__image {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20px);
    @include adp('max-width', 252, 150);

    img {
        max-width: 100%;
        object-fit: contain;
    }
    
    @media (max-width: em(768)) {
        display: none;
    }
}